{
    "parser": "@babel/eslint-parser",
    "parserOptions": {
      "ecmaVersion": 2020,
      "sourceType": "module",
      "requireConfigFile": false,
      "babelOptions": {
        "presets": ["@babel/preset-react"]
      }
    },
    "extends": ["eslint:recommended", "eslint-config-prettier"],
    "plugins": [
      "import",
      "react",
      "react-hooks"
    ],
    "rules": {
      "no-console": "off",
      "react/jsx-uses-react": "error",
      "react/jsx-uses-vars": "error",
      "react-hooks/rules-of-hooks": "error",
      "react-hooks/exhaustive-deps": "warn",
      "semi": ["error", "always"],
      "no-magic-numbers": [
        "warn",
        { "ignore": [-2, -1, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9] }
      ]
    },
    "env": {
      "browser": true,
      "node": true,
      "es6": true
    }
  }
  